.logo {
  width: 200px;
}

.sideBar{
  position:fixed;
}
.container{
  max-width: none;
  list-style: none;
}

.sideBar{
  width: 250px;
  height: 100%;
  background-color: #f7f7f7;;
}

.sideBar ul{
  list-style: none;
  padding-left:10px;
}
.sideBar ul li{
  list-style: none;
  padding: 10px;
  color: #777;
  cursor: pointer;
}
.active{
  color :#000!important;
}